body{
    text-align: center;
    background-color: cadetblue;
}
div{
margin-top: 15px;
}
.imagesection{
    display: flex;
    justify-content: center;
}
.sectionstyle{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}